.drawer {
    z-index: 100;
    top: 0;
    background-color: #bf98e7;
    position: absolute;
    right: -10px;
    height: 100%;
    width: 50%;
    overflow-x: scroll;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.drawer__header{
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;   
}
.drawer__tiles{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: rgba(64, 40, 160, 255);
}
@media(max-width:834px){
    .drawer{
        width: 70%;
    }
}